body{background-color: ##0AA8DC;}
table{background-color: ##00DB5B;width: 1000px;margin-left: auto;margin-right: auto;}
td,th{border-style: solid;border-color: white;}
img{width: 250px;height: 250px;}
.principal{width: 1000px;height: 400px;}
.sub{width: 50px;height: 50px;}on
